<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Terms of Service</h1>
  <p>
    This victory board app was made for fun, and as my contribution to the
    Christmas program. I will continue to maintain it as a hobby project for
    some time. <strong>However</strong>, use of this app does not entitle user
    to expectations of long term maintenence of the app or change requests.
  </p>
  <p>This app is far from perfect. Use with care and at your own risk.</p>
</body>
</html>