<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Victory Board! - Login</title>

  <!-- initialization snippet from Firebase project -->
  <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDuVdzz4xl7FFA6plvj_tKd9zdq5f_iUvs",
      authDomain: "holt-family-victory-board.firebaseapp.com",
      databaseURL: "https://holt-family-victory-board.firebaseio.com",
      projectId: "holt-family-victory-board",
      storageBucket: "holt-family-victory-board.appspot.com",
      messagingSenderId: "447001346789"
    };
    firebase.initializeApp(config);
  </script>

  <!-- initialization snippet from FirebaseUI sign in widget -->
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
  <script type="text/javascript">
    // FirebaseUI config.
    var uiConfig = {
      signInSuccessUrl: '../index.html',
      signInOptions: [
        // Leave the lines as is for the providers you want to offer your users.
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID
      ],
      // Terms of service url.
      tosUrl: '<your-tos-url>'
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
  </script>
</head>
<body>
  <!-- The surrounding HTML is left untouched by FirebaseUI.
       Your app may use that space for branding, controls and other customizations.-->
  <div id="firebaseui-auth-container"></div>
</body>
</html>