<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Victory Board! - Player Profile</title>
    <!-- Materialize Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <div> <!-- nav area -->
      <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="/resources/game-background.jpg" width="300">
          </div>
          <a href="#!user"></a><img id="profile-pic" class="circle" src=""></a>
          <a href="#!name"><span id="profile-name" class="white-text name"></span></a>
        </div></li>
        <li><a href="/index.html">Standings</a></li>
        <li><a href="./games.html">Games</a></li>
        <li><a href="./new-game.html">New Game</a></li>
        <li><a href="#!profile">Profile</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="large material-icons">menu</i></a>
    </div>

    <!-- Materialize Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Firebase javascript -->
    <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
    <!-- Initialize Firebase -->
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDuVdzz4xl7FFA6plvj_tKd9zdq5f_iUvs",
        authDomain: "holt-family-victory-board.firebaseapp.com",
        databaseURL: "https://holt-family-victory-board.firebaseio.com",
        projectId: "holt-family-victory-board",
        storageBucket: "holt-family-victory-board.appspot.com",
        messagingSenderId: "447001346789"
      };
      firebase.initializeApp(config);
    </script>
    <!-- Get user info -->
    <script src="/scripts/init-user-data.js"></script>
    <script type="text/javascript">
      // Initialize collapse button
      $(".button-collapse").sideNav();    
    </script>
  </body>
</html>